<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lahacks.sardines"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.lahacks.sardines.Splash"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lahacks.sardines.JoinGame"
            android:label="@string/title_activity_join_game"
            android:parentActivityName="com.lahacks.sardines.Splash" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lahacks.sardines.Splash" />
        </activity>
        <activity
            android:name="com.lahacks.sardines.StartGame"
            android:label="@string/title_activity_start_game"
            android:parentActivityName="com.lahacks.sardines.Splash" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.lahacks.sardines.Splash" />
        </activity>
    </application>

</manifest>
